* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

header {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    font-size: 22px;
    background-color: rgb(17, 160, 141);
}

header nav a {
    text-decoration: none;
    color: white;
    border-bottom: solid white;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 20px;
}

nav a:hover {
    font-size: 22px;
}

body {
    background-color: whitesmoke;
}

section {
    width: 100%;
}

img {
    margin: 25px;
}

a {
    color: rgb(17, 160, 141);
    text-align: center;
}


.contact-me {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    
    width: 100%;
    
}

.contact-me nav a {
    text-decoration: none;
    border-bottom: solid white;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 20px;
}
    

#AboutMe, #Work, #ContactMe {
    
    padding: 5px; 
    
}

.lower-img-wrapper {
    display: flex;
    justify-content: space-around;
 }

 .lower-img-wrapper img {
    height: 500px;
    width: auto;
 }

 .top-img-wrapper {
    display: flex;
    justify-content: center;
 }

 .top-img-wrapper img {
    height: auto;
    width: auto;
 }

 .container {
     align-items:center;
 }

 .about-me .work .contact-me {
     border-right: solid black 2px;
     
 }

@media screen and (max-width: 600px) {
    .body {
        /* flex: auto;
        width: 100%; */
        background-color: red;
    }
}

.work-item {
    width: 49.5%;
    margin-top: 1%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    content: "";
    border-style: solid;
    border-width: 5px;
    border-color: #11a08d;
}

.work-item-image {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    content: "";
    cursor: pointer;
}

.work-item a {
    position: absolute;
    top: 50%;
    display:block;
    padding: 2%;
    padding-left: 5%;
    background-color: #11a08d;
    color: white;
    font-size: x-large;
    
}

.work-item-image:hover {
    filter:brightness(80%);
}

#ResumeIframe div {
    display: none;
}

.footer-tabs {
    padding: 40px;
    display: flex;
    margin-top: 20%;
    justify-content: space-between;
    /* align-items: center; */
    
    width: 100%;
    
}

.footer-tabs {
    text-decoration: none;
    border-bottom: solid white;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 20px;
    background-color: rgb(17, 160, 141);
}

.header-tabs {
    padding: 25px;
    display: flex;
    margin-top: 3%;
    justify-content: space-between;
    /* align-items: center; */
    
    width: 100%;
    
}

.header-tabs {
    text-decoration: none;
    border-bottom: solid white;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 20px;
    background-color: rgb(17, 160, 141);
    
}

.profilePic {
    
    height: 300px;
    padding: 5%;
}

.resume {
    width: 100%;
}